{{ $sidebar := .Site.Params.Sidebar }}
<!-- Sidebar -->
<section class="box">
    {{ if $sidebar.image1 }}
    <a href="{{ $sidebar.imagelink1 }}" class="image featured"><img src="{{ .Site.BaseURL }}{{ $sidebar.image1 }}" alt="" /></a>
    {{ end }}
    <header>
        <h3>{{ $sidebar.title1 }}</h3>
    </header>
    <p>{{ $sidebar.description1 }}</p>
    <footer>
        <a href="{{ $sidebar.buttonlink1 }}" class="button alt">{{ $sidebar.buttontext1 }}</a>
    </footer>
</section>
<section class="box">
    <header>
        <h3>{{ $sidebar.title2 }}</h3>
    </header>
    <p>{{ $sidebar.description2 }}</p>
    <ul class="divided">
        <li><a href="#">Sed et blandit consequat sed</a></li>
        <li><a href="#">Hendrerit tortor vitae sapien dolore</a></li>
        <li><a href="#">Sapien id suscipit magna sed felis</a></li>
        <li><a href="#">Aptent taciti sociosqu ad litora</a></li>
    </ul>
    <footer>
        <a href="{{ $sidebar.buttonlink2 }}" class="button alt">{{ $sidebar.buttontext2 }}</a>
    </footer>
</section>