<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="8u 12u(mobile)">
                <section>
                    <header>
                        <h2>{{ .Site.Params.Footer.title1 }}</h2>
                    </header>
                    <ul class="dates">
                        <li>
                            <span class="date">Jan <strong>27</strong></span>
                            <h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
                            <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
                        </li>
                        <li>
                            <span class="date">Jan <strong>23</strong></span>
                            <h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
                            <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
                        </li>
                        <li>
                            <span class="date">Jan <strong>15</strong></span>
                            <h3><a href="#">Magna tempus lorem feugiat</a></h3>
                            <p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
                        </li>
                        <li>
                            <span class="date">Jan <strong>12</strong></span>
                            <h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
                            <p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
                        </li>
                        <li>
                            <span class="date">Jan <strong>10</strong></span>
                            <h3><a href="#">Blandit tempus aliquam?</a></h3>
                            <p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section>
                    <header>
                        <h2>{{ .Site.Params.Footer.title2 }}</h2>
                    </header>
                    <a href="{{ .Site.Params.Footer.imagelink2 }}" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Site.Params.Footer.imageurl2 }}" alt="" /></a>
                    <p>
                        {{ .Site.Params.Footer.description2 }}
                    </p>
                    <footer>
                        <a href="{{ .Site.Params.Footer.buttonlink2 }}" class="button">{{ .Site.Params.Footer.buttontext2 }}</a>
                    </footer>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="4u 12u(mobile)">
                <section>
                    <header>
                        <h2>{{ .Site.Params.Footer.title3 }}</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                        <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                        <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                        <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                        <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                        <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section>
                    <header>
                        <h2>{{ .Site.Params.Footer.title4 }}</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                        <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                        <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                        <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                        <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                        <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section>
                    <header>
                        <h2>{{ .Site.Params.Footer.title5 }}</h2>
                    </header>
                    {{ partial "footer/social.html" . }}
                    <ul class="contact">
                        <li>
                            <h3>Address</h3>
                            <p>
                                {{ .Site.Params.Address.line1 }}<br />
                                {{ .Site.Params.Address.line2 }}<br />
                                {{ .Site.Params.Address.line3 }}
                            </p>
                        </li>
                        <li>
                            <h3>Mail</h3>
                            <p><a href="{{ .Site.Params.Contact.email }}">{{ .Site.Params.Contact.email }}</a></p>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            <p>{{ .Site.Params.Contact.phone }}</p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        {{ partial "footer/copyright.html" . }}
    </section>
</div>