<ul class="social">
    {{ with .Site.Data.footer.links.social }}
    {{ if .facebook }}
    <li><a class="icon fab fa-facebook-f" href="{{ .facebook }}"><span class="label">Facebook</span></a></li>
    {{ end }}
    {{ if .twitter }}
    <li><a class="icon fab fa-twitter" href="{{ .twitter }}"><span class="label">Twitter</span></a></li>
    {{ end }}
    {{ if .dribbble }}
    <li><a class="icon fab fa-dribbble" href="{{ .dribbble }}"><span class="label">Dribbble</span></a></li>
    {{ end }}
    {{ if .linkedin }}
    <li><a class="icon fab fa-linkedin-in" href="{{ .linkedin }}"><span class="label">LinkedIn</span></a></li>
    {{ end }}
    {{ if .tumblr }}
    <li><a class="icon fab fa-tumblr" href="{{ .tumblr }}"><span class="label">Tumblr</span></a></li>
    {{ end }}
    {{ if .googleplus }}
    <li><a class="icon fab fa-google-plus-g" href="{{ .googleplus }}"><span class="label">Google+</span></a></li>
    {{ end }}
    {{ end }}
</ul>