<!-- Blog -->
<section>
    <header class="major">
        <h2>The Blog</h2>
    </header>
    <div class="row">
        <div class="6u 12u(mobile)">
            <section class="box">
                <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                <header>
                    <h3>Magna tempus consequat lorem</h3>
                    <p>Posted 45 minutes ago</p>
                </header>
                <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
                        <li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
                    </ul>
                </footer>
            </section>
        </div>
        <div class="6u 12u(mobile)">
            <section class="box">
                <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                <header>
                    <h3>Aptent veroeros et aliquam</h3>
                    <p>Posted 45 minutes ago</p>
                </header>
                <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
                        <li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
                    </ul>
                </footer>
            </section>
        </div>
    </div>
</section>