<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="first">
                <i class="icon featured fa-cog"></i>
                <header>
                    <h2>{{ .Site.Params.Intro.title1 }}</h2>
                </header>
                <p>{{ .Site.Params.Intro.description1 }}</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="middle">
                <i class="icon featured alt fa-flash"></i>
                <header>
                    <h2>{{ .Site.Params.Intro.title2 }}</h2>
                </header>
                <p>{{ .Site.Params.Intro.description2 }}</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="last">
                <i class="icon featured alt2 fa-star"></i>
                <header>
                    <h2>{{ .Site.Params.Intro.title3 }}</h2>
                </header>
                <p>{{ .Site.Params.Intro.description3 }}</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Get Started</a></li>
            <li><a href="#" class="button alt big">Learn More</a></li>
        </ul>
    </footer>
</section>