<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="first">
                <i class='icon featured {{ .Site.Params.Intro.icon1 }}'></i>
                <header>
                    <h2>{{ .Site.Params.Intro.title1 }}</h2>
                </header>
                <p>{{ .Site.Params.Intro.description1 }}</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="middle">
                <i class="icon featured alt {{ .Site.Params.Intro.icon2 }}"></i>
                <header>
                    <h2>{{ .Site.Params.Intro.title2 }}</h2>
                </header>
                <p>{{ .Site.Params.Intro.description2 }}</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="last">
                <i class="icon featured alt2 {{ .Site.Params.Intro.icon3 }}"></i>
                <header>
                    <h2>{{ .Site.Params.Intro.title3 }}</h2>
                </header>
                <p>{{ .Site.Params.Intro.description3 }}</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="{{ .Site.Params.Intro.buttonlink1 }}" class="button big">{{ .Site.Params.Intro.buttontext1 }}</a></li>
            <li><a href="{{ .Site.Params.Intro.buttonlink2 }}" class="button alt big">{{ .Site.Params.Intro.buttontext2 }}</a></li>
        </ul>
    </footer>
</section>