<!-- Intro -->
{{ $section1 := index .Site.Data.home.intro.sections 0 }}
{{ $section2 := index .Site.Data.home.intro.sections 1 }}
{{ $section3 := index .Site.Data.home.intro.sections 2 }}
<section id="intro" class="container">
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="first">
                <i class='icon featured {{ $section1.icon }}'></i>
                <header>
                    <h2>{{ $section1.title }}</h2>
                </header>
                <p>{{ $section1.description }}</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="middle">
                <i class="icon featured alt {{ $section2.icon }}"></i>
                <header>
                    <h2>{{ $section2.title }}</h2>
                </header>
                <p>{{ $section2.description }}</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="last">
                <i class="icon featured alt2 {{ $section3.icon }}"></i>
                <header>
                    <h2>{{ $section3.title }}</h2>
                </header>
                <p>{{ $section3.description }}</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="{{ .Site.Params.Intro.buttonlink1 }}" class="button big">{{ .Site.Params.Intro.buttontext1 }}</a></li>
            <li><a href="{{ .Site.Params.Intro.buttonlink2 }}" class="button alt big">{{ .Site.Params.Intro.buttontext2 }}</a></li>
        </ul>
    </footer>
</section>